#robotImgContainer {
  border-top: 30px solid rgba(65, 65, 65, 0.521);
  border-bottom: 30px solid rgba(65, 65, 65, 0.523);
  box-shadow: 0 4px 8px rgb(0, 0, 0)
}

@media (max-width:821px) {
  #robotImgContainer {
    border-top: 25px solid rgba(65, 65, 65, 0.521);
    border-bottom: 25px solid rgba(65, 65, 65, 0.523);
    box-shadow: none;
  }
}

#loadingImg {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}