#robotImgContainer {
  border-top: 30px solid rgba(65, 65, 65, 0.521);
  border-bottom: 30px solid rgba(65, 65, 65, 0.523);
  box-shadow: 0 4px 8px rgb(0, 0, 0)
}

@media (max-width:821px) {
  #robotImgContainer {
    border-top: 25px solid rgba(65, 65, 65, 0.521);
    border-bottom: 25px solid rgba(65, 65, 65, 0.523);
    box-shadow: none;
  }

  #heroBackgroundContainer {
    width: 200px;
    border: 1px solid red;
  }
}