#firstServiceBackground {
  background-image: url('../assets/services/service-1.png');
  height: 1200px;
  width: 70vw;
  background-repeat: no-repeat;
  /* Ensures the image covers the entire container */
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#secondServiceContainer {
  background-image: url('../assets/services/service-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1200px;
  width: 46vw;
  overflow: hidden;
}

#thirdServiceContainer {
  width: 46vw;
  height: 1200px;
  overflow: hidden;
}

#thirdServiceBg {
  background-image: url('../assets/services/service-3.png');
  background-repeat: no-repeat;
  /* Ensures the image covers the entire container */
  background-size: cover;
  background-position: center;
}

@media (max-width: 821px) {

  /* Make display of image background div none */
  #firstServiceBackground {
    display: none;
  }

  /* set background img directly to main container */
  #firstServiceContainer {
    width: 90vw;
    background-image: url('../assets/services/service-1.png');
    background-repeat: no-repeat;
    /* Ensures the image covers the entire container */
    background-size: cover;
    background-position: center;
  }

  #secondServiceContainer {
    width: 90vw;
    height: 1000px;
  }

  #thirdServiceContainer {
    width: 90vw;
    height: fit-content;
  }

  #thirdServiceBg {
    height: 400px;
  }

}